@{
    Layout = "_Layout";
}

<div class="container mt-5">
    <h1 class="mb-4 text-center">Create a New Event</h1>
    <form>
        <div class="mb-3">
            <label for="eventName" class="form-label"><b>Event Name</b></label>
            <input type="text" class="form-control form-control-lg" id="eventName" placeholder="Enter event name">
        </div>
        <div class="mb-3">
            <label for="eventDate" class="form-label"><b>Event Date</b></label>
            <input type="date" class="form-control form-control-lg" id="eventDate">
        </div>
        <div class="mb-3">
            <label for="eventLocation" class="form-label"><b>Location</b></label>
            <input type="text" class="form-control form-control-lg" id="eventLocation" placeholder="Enter event location">
        </div>
        <div class="mb-3">
            <label for="eventDescription" class="form-label"><b>Description</b></label>
            <textarea class="form-control" id="eventDescription" rows="3" placeholder="Enter event description"></textarea>
        </div>
        <div class="mb-3">
            <label for="eventImage" class="form-label"><b>Event Image</b></label>
            <input type="file" class="form-control" id="eventImage">
        </div>
        <div class="mb-3">
            <label for="ticketPrice" class="form-label"><b>Price</b></label>
            <input type="number" class="form-control" id="ticketPrice" placeholder="Enter ticket price">
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Create Event</button>
        </div>
    </form>
</div>
