@model Event
@{
    ViewData["Title"] = "Create";
    Layout = "_Layout";
}

<div class="container mt-5">
    <h1 class="mb-4 text-center">Create a New Event</h1>
    <form asp-action="EventCreate" method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="eventName" class="form-label"><b>Event Name</b></label>
            <input asp-for="Name" type="text" class="form-control form-control-lg" id="eventName" placeholder="Enter event name">
        </div>
        <div class="mb-3">
            <label for="eventDate" class="form-label"><b>Event Date</b></label>
            <input type="date" class="form-control form-control-lg" id="eventDate" name="date">
        </div>
        <div class="mb-3">
            <label for="eventCategory" class="form-label"><b>Category</b></label>
            <select asp-for="CategoryId" class="form-control form-control-lg" id="eventCategory">
                <option value="">-- Select Category --</option>
                @foreach (var category in ViewBag.Categories)
                {
                    <option value="@category.Id">@category.Name</option>
                }
            </select>
        </div>
        <div class="mb-3">
            <label for="eventTime" class="form-label"><b>Event Time</b></label>
            <input type="time" class="form-control form-control-lg" id="eventTime" name="time">
        </div>
        <div class="mb-3">
            <label for="eventDescription" class="form-label"><b>Description</b></label>
            <textarea asp-for="Description" class="form-control" id="eventDescription" rows="3" placeholder="Enter event description"></textarea>
        </div>
        <div class="mb-3">
            <label for="eventImage" class="form-label"><b>Event Image</b></label>
            <input type="file" class="form-control" id="eventImage">
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-secondary">Next: Add tickets</button>
        </div>
    </form>
</div>